asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
Django==5.1.7
django-ckeditor==6.7.2
django-elasticsearch-dsl==8.0
django-js-asset==3.1.2
elastic-transport==8.17.0
elasticsearch==8.17.2
elasticsearch-dsl==8.17.1
pillow==11.1.0
python-dateutil==2.9.0.post0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
